body {
    font-family: "TT Lakes", sans-serif;
    background-color: #FFFFFF;
}

@font-face {
    font-family: "TT Lakes";
    src: url(font/TTLakes/TTLakes-Regular.ttf);
}

.round-icon {
    background: transparent;
    border: none;
    display: inline-flex;
    width: 40px;
    height: 40px;
}



/*для телефона*/
@media (min-width: 0px) and (max-width: 767px) {

body {
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
}

.header {
    height: 88px;
}

.header__btn-call, .header__btn-chat, .header__btn-profile, .header__decor-divider-right, .main__btn {
    display: none;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16.73px;
    margin-left: 16px;
}

.header__btn-menu-burger {
    background-image: url(img/burger.svg);
    margin-top: 24px;
}

.header__logo {
    display: inline-flex;
    width: 96.55px;
    height: 50.81px;
    margin-top: 18.59px;
}

.header__decor-divider-left {
    background-image: url(img/divider.svg) ;
    width: 2px;
    height: 32px;
    margin-top: 28px;
    border-radius: 1px;
    order: 1;
}

.header__nav-right {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 24px 16px 0 20px;
}

.header__btn-repair {
    background-image: url(img/repair.svg);
}

.header__btn-checkstatus {
    background-image: url(img/checkstatus.svg);
}



.main {
    background-color: #F8F8F8;
    padding-top: 24px;
    padding-bottom: 35px;
}

.main__decor-shadow {
    background-image: url(img/shadow.svg);
    height: 1px;
}

.main__title {
    display: flex;
    justify-content: flex-start;
    height: 40px;
}

.main__title-decor {
    background-image: url(img/highlight.svg);
    width: 4px;
    height: 40px;
    rotate: -180°;
}

.main__title-text {
    margin-left: 12px;
    font-size: 28px;
    font-weight: bolder;
    line-height: 40px;
    letter-spacing: -0.6px;
    height: 40px;
}

.main__nav {
    display: flex;
    height: 40px;
    padding: 24px 0;
    overflow-x: auto;
}

.main__nav::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.main__nav-list {
    display: flex;
    align-items: center;
    position: relative;
}

.main__nav-list-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__nav-list-link {
    color: #7E7E82;
    background-color: #F8F8F8;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    text-decoration-skip-ink: none;
    white-space: nowrap;
    padding: 8px 16px;
    border: 2px solid transparent;
    border-radius: 6px 6px 6px 6px;
}

.main__nav-list-link:hover {
    background-color: #FFFFFF;
    border-color: #B8FFEC;
}

.main__nav-list-1btn {
    margin-left: 16px;
}

.main__nav-gradient {
    display: flex;
    width: 24px;
    height: 40px;
    position: absolute;
    right: 0;
    position: fixed;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.main__text-about-us-with-read-more {
    margin: 0 16px;
}

.main__text-about-us {
    height: 90px;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.read-more {
    display: flex;
    justify-content: flex-start;
    background-color: #F8F8F8;
    height: 24px;
    gap: 8px;
    margin-top: 16px;
}

.read-more-icon {
    display: flex;
    align-items: center;
    width: 24px;
}

.read-more-text {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bolder;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.main__image-cps {
    margin-top: 16px;
    width: 100%;
    height: auto;
}
}



@media (min-width: 767px) and (max-width: 1119px) {

body {
margin-left: auto;
margin-right: auto;
}

.header {
    height: 88px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16.73px;
    margin-left: 24px;
}

.header__btn-menu-burger {
    background-image: url(img/burger.svg);
    margin-top: 24px;
}

.header__logo {
    display: inline-flex;
    width: 96.55px;
    height: 50.81px;
    margin-top: 18.59px;
}

.header__decor-divider-left {
    background-image: url(img/divider.svg) ;
    width: 2px;
    height: 32px;
    margin-top: 28px;
    border-radius: 1px;
}

.header__nav-right {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 24px 24px 0 24px;
}

.header__btn-call {
    background-image: url(img/call.svg);
}

.header__btn-chat {
    background-image: url(img/chat.svg);
}

.header__btn-profile {
    background-image: url(img/profile.svg);
}

.header__decor-divider-right {
    display: flex;
    background-image: url(img/divider.svg);
    width: 2px;
    height: 32px;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 1px;
}

.header__btn-repair {
    background-image: url(img/repair.svg);
}

.header__btn-checkstatus {
    background-image: url(img/checkstatus.svg);
}



.main {
    background-color: #F8F8F8;
    padding-top: 24px;
    padding-bottom: 40px;
}

.main__decor-shadow {
    background-image: url(img/shadow.svg);
    height: 1px;
}

.main__btn {
    display: none;
}

.main__title {
    display: flex;
    justify-content: flex-start;
    height: 40px;
}

.main__title-decor {
    background-image: url(img/highlight.svg);
    width: 4px;
    height: 40px;
    rotate: -180°;
}

.main__title-text {
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: bolder;
    line-height: 40px;
    letter-spacing: -0.6px;
    height: 40px;
}

.main__nav {
    display: flex;
    height: 40px;
    padding: 24px 0 32px 0;
    overflow-x: auto;
}

.main__nav::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.main__nav-list {
    display: flex;
    align-items: center;
    position: relative;
}

.main__nav-list-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__nav-list-link {
    color: #7E7E82;
    background-color: #F8F8F8;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    text-decoration-skip-ink: none;
    white-space: nowrap;
    padding: 8px 16px;
    border: 2px solid transparent;
    border-radius: 6px 6px 6px 6px;
}

.main__nav-list-link:hover {
    background-color: #FFFFFF;
    border-color: #B8FFEC;
}

.main__nav-list-1btn {
    margin-left: 24px;
}

.main__nav-gradient {
    display: flex;
    width: 24px;
    height: 40px;
    position: absolute;
    right: 0;
    position: fixed;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.main__about-us {
    display: flex;
    gap: 48px;
    justify-content: space-between;
    margin: 0 24px;
}

.main__text-about-us {
    height: 160px;
    width: 312px;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.read-more {
    display: flex;
    justify-content: flex-start;
    background-color: #F8F8F8;
    height: 24px;
    gap: 8px;
    margin-top: 16px;
}

.read-more-icon {
    display: flex;
    align-items: center;
    width: 24px;
}

.read-more-text {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bolder;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.main__image-cps {
    border-radius: 6px 0px 0px 6px;
    width: 100%;
    height: auto;
}
}



@media (min-width: 1119px) {

body {
margin-left: auto;
margin-right: auto;
background-color: #F8F8F8;
}

.header, .main__decor-shadow, .main__nav-gradient {
    display: none;
}



.main {
    padding-top: 42px;
    padding-bottom: 50px;
    padding-right: 24px;
}

.main__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
}

.main__title-decor {
    background-image: url(img/highlight.svg);
    width: 4px;
    height: 40px;
    rotate: -180°;
}

.main__title-text {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-left: 30px;
    font-size: 28px;
    font-weight: bolder;
    line-height: 40px;
    letter-spacing: -0.6px;
}

.main__title-and-header-actions {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.main__btn {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    background-color: #F8F8F8;
}

.main__btn-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-weight: 600;
    white-space: nowrap;
}

.main__nav {
    padding: 8px 0 8px 33px;
}

.main__nav-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.main__nav-list-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__nav-list-link {
    color: #7E7E82;
    background-color: #F8F8F8;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    text-decoration-skip-ink: none;
    white-space: nowrap;
    padding: 8px 16px;
    border: 2px solid transparent;
    border-radius: 6px 6px 6px 6px;
}

.main__nav-list-link:hover {
    background-color: #FFFFFF;
    border-color: #B8FFEC;
}


.main__about-us {
    display: flex;
    gap: 36px;
    justify-content: space-between;
    padding-left: 33px;
}

.main__text-about-us {
    height: 160px;
    width: 490px;
    overflow: hidden;
    padding-top: 9px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.read-more {
    display: flex;
    justify-content: flex-start;
    background-color: #F8F8F8;
    height: 24px;
    gap: 8px;
    margin-top: 14px;

}

.read-more-icon {
    display: flex;
    align-items: center;
    width: 24px;
}

.read-more-text {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bolder;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.main__image-cps {
    border-radius: 6px 0px 0px 6px;
    width: 100%;
    height: auto;
}
}